/* Variables */

/*
All scss variables should be placed here. This file is imported globally
and should be used in components to keep the design consistent.

Warning: this variables is not affecting internal Vuetify variables.
You should define the Vuetify variables in the '@/styles/vuetify.scss' file.
It is recommended to use the same variables in both places.
So it is absolutely necessary to keep the variables consistent in both files.
*/

/*
===  Only SCSS variables should be placed here. ===

Do not place any CSS rules or CSS variables here.
Otherwise, it will be injected into each component and will increase the size of the final bundle.
 */

/* Fonts */
$base-font-family: roboto, inter, tahoma, verdana, sans-serif;
$text-xs: 0.75rem / 1.125rem $base-font-family;
$text-sm: 0.875rem / 1.25rem $base-font-family;
$text-md: 1rem / 1.5rem $base-font-family;
$text-lg: 1.125rem / 1.75rem $base-font-family;
$text-xl: 1.25rem / 1.875rem $base-font-family;
$display-xs: 1.5rem / 2rem $base-font-family;
$display-sm: 1.875rem / 2.375rem $base-font-family;
$display-md: 2.25rem / 2.75rem $base-font-family;
$display-lg: 3rem / 3.75rem $base-font-family;
$display-xl: 3.75rem / 4.5rem $base-font-family;
$display-2xl: 4.5rem / 5.625rem $base-font-family;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* Shadows */
$shadow-xs: 0 1px 2px 0 rgba(var(--v-color-gray-900), 5%);
$shadow-sm: 0 1px 2px 0 rgba(var(--v-color-gray-900), 6%), 0 1px 3px 0 rgba(var(--v-color-gray-900), 10%);
$shadow-md: 0 2px 4px -2px rgba(var(--v-color-gray-900), 6%), 0 4px 8px -2px rgba(var(--v-color-gray-900), 10%);
$shadow-lg: 0 4px 6px -2px rgba(var(--v-color-gray-900), 3%), 0 12px 16px -4px rgba(var(--v-color-gray-900), 8%);
$shadow-xl: 0 8px 8px -4px rgba(var(--v-color-gray-900), 3%), 0 20px 24px -4px rgba(var(--v-color-gray-900), 8%);
$shadow-2xl: 0 24px 48px -12px rgba(var(--v-color-gray-900), 18%);
$shadow-3xl: 0 32px 64px -12px rgba(var(--v-color-gray-900), 14%);

/* Focus Rings */
$ring-brand: 0 0 0 4px rgba(var(--v-color-brand-500), 24%);
$ring-brand-shadow-xs: 0 0 0 4px rgba(var(--v-color-brand-500), 24%), $shadow-xs;
$ring-brand-shadow-sm: 0 0 0 4px rgba(var(--v-color-brand-500), 24%), $shadow-sm;
$ring-gray: 0 0 0 4px rgba(var(--v-color-gray-400), 14%);
$ring-gray-shadow-xs: 0 0 0 4px rgba(var(--v-color-gray-400), 14%), $shadow-xs;
$ring-gray-shadow-sm: 0 0 0 4px rgba(var(--v-color-gray-400), 14%), $shadow-sm;
$ring-gray-secondary: 0 0 0 4px rgba(var(--v-color-gray-400), 20%);
$ring-error: 0 0 0 4px rgba(var(--v-color-error-500), 24%);
$ring-error-shadow-xs: 0 0 0 4px rgba(var(--v-color-error-500), 24%), $shadow-xs;

/* Radius */
$radius-none: 0;
$radius-xxs: 0.125rem;
$radius-xs: 0.25rem;
$radius-sm: 0.375rem;
$radius-md: 0.5rem;
$radius-lg: 0.625rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.25rem;
$radius-4xl: 1.5rem;
$radius-full: 9999px;

/* Spacing */
$spacing-none: 0;
$spacing-xxs: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.375rem;
$spacing-md: 0.5rem;
$spacing-lg: 0.75rem;
$spacing-xl: 1rem;
$spacing-2xl: 1.25rem;
$spacing-3xl: 1.5rem;
$spacing-4xl: 2rem;
$spacing-5xl: 2.5rem;
$spacing-6xl: 3rem;
$spacing-7xl: 4rem;
$spacing-8xl: 5rem;
$spacing-9xl: 6rem;
$spacing-10xl: 8rem;
$spacing-11xl: 10rem;

/* Width */
$width-xxs: 20rem;
$width-xs: 24rem;
$width-sm: 30rem;
$width-md: 35rem;
$width-lg: 40rem;
$width-xl: 48rem;
$width-2xl: 64rem;
$width-3xl: 80rem;
$width-4xl: 90rem;
$width-5xl: 100rem;
$width-6xl: 120rem;

/* Containers */
$container-padding-mobile: 1rem;
$container-padding-desktop: 2rem;
$container-max-width-desktop: 80rem;

/* Paragraphs */
$paragraph-max-width: 45rem;
